@model TanITELEC1C.ViewModels.LoginViewModel;

@{
}

<body>
    <div class="main-container">

        <h2 id="HDR" style="font-size: 40px; color #d17724; font-weight: lighter; text-align: center;">Student Registration</h2>
        <div class="container">
            <div style="text-align:center">

                Login

            </div>
            <form asp-action="Login" asp-controller="Account" method="post">

                <div class="form-group">

                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" id="Username" placeholder="Enter Student First Name" />

                </div>

                <div class="form-group">

                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="Password" placeholder="Enter Student Last Name" />

                </div>

                <div class="form-group">

                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" class="form-control" id="RememberMe" placeholder="Enter Student Last Name" />

                </div>


                <div style="text-align: center;">

                    <button type="submit" class="btn btn-primary">

                        Submit

                    </button>

                </div>



            </form>

        </div>

    </div>
</body>
