@model Student;

<body>
    <div class="main-container">

        <h2 id="HDR" style="font-size: 40px; color #d17724; font-weight: lighter; text-align: center;">Delete a Student</h2>
        <div class="container">
            <div style="text-align:center">

                Are you sure you want to delete?

            </div>
            <form asp-action="DeleteStudent" asp-controller="Student" method="post">

                <div class="form-group">

                    <label asp-for="Id">Student ID</label>
                    <input asp-for="Id" class="form-control" id="Id" placeholder="Enter Student ID" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="form-control" id="FirstName" placeholder="Enter Student First Name" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="form-control" id="LastName" placeholder="Enter Student Last Name" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="Course">Course</label>
                    <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))" class="form-control" id="Course" placeholder="Enter your course" disabled> </select>



                </div>

                <div class="form-group">

                    <label asp-for="dateEnrolled">Date Enrolled</label>
                    <input asp-for="dateEnrolled" class="form-control" id="dateEnrolled" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" id="Email" placeholder="Enter your Email" readonly />

                </div>
                <br />

                <div style="text-align: center;">

                    <button type="submit" class="btn btn-primary">Delete</button>

                    <button type="button" onclick="history.back();" class="btn btn-primary">Back</button>

                </div>



            </form>

        </div>

    </div>
</body>