@model Instructor;

<body>
    <div class="main-container">

        <h2 id="HDR" style="font-size: 40px; color: #d17724; font-weight: lighter; text-align: center;">Delete an Instructor</h2>
        <div class="container">
            <div style="text-align:center">

                Are you sure you want to delete this instructor?

            </div>
            <form asp-action="DeleteInstructor" asp-controller="Instructor" method="post">

                <div class="form-group">

                    <label asp-for="Id">Instructor ID</label>
                    <input asp-for="Id" class="form-control" id="Id" placeholder="Enter Instructor ID" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="form-control" id="FirstName" placeholder="Enter Instructor First Name" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="form-control" id="LastName" placeholder="Enter Instructor Last Name" readonly />

                </div>

                <div class="form-group">

                    <label asp-for="Rank">Rank</label>
                    <select asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Rank))" class="form-control" id="Course" placeholder="Enter your course" disabled> </select>



                </div>

                <div class="form-group">

                    <label asp-for="Status">Status</label>
                    <select asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Status))" class="form-control" id="Course" placeholder="Enter your course" disabled> </select>

                </div>


                <div class="form-group">

                    <label asp-for="HiringDate">Hiring Date</label>
                    <input asp-for="HiringDate" class="form-control" id="Email" placeholder="Enter your Email" readonly />

                </div>
                <br />

                <div style="text-align: center;">

                    <button type="submit" class="btn btn-primary">

                        Delete

                    </button>

                    <button type="button" onclick="history.back();" class="btn btn-primary">

                        Cancel

                    </button>

                </div>



            </form>

        </div>

    </div>
</body>